/* 
css reset, for clearence all styling. 
*/

html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
pm,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* import font style */

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300');
body {
    color: #414f57;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14pt;
    font-weight: 300;
    line-height: 1;
    letter-spacing: 0.2em;
}

/* content */

.content {
    text-align: left;
    line-height: 40px;
    padding-top: 25%;
    margin: 0 auto;
    width: 970px;
}

/* backkground animate */

.back-animate {
    width: 100wh;
    height: 100vh;
    color: #fff;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    -webkit-animation: Gradient 10s ease infinite;
    -moz-animation: Gradient 10s ease infinite;
    animation: Gradient 10s ease infinite;
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}